* {
    margin: 0px;
}

body {
    background-color: #edb8d2;
}

#every {
    margin: 0px auto;
    width: 900px;
    height: 900px;
}

#top {
    width: 900px;
    height: 246px;
}

#middle {
    width: 900px;
    height: 70px;
}

#content {
    width: 900px;
    height: 325px;
    background-color: #FFeaf3;
}



.nav1 {
    width: 900px;
    height: 40px;
    background-color:  #FF1E70;
}

.nav2 {
    width: 900px;
    height: 30px;
    background-color: #f4ccd1;
    line-height: 30px;
}

#aigouzhijia {
    width: 450px;
    height: 300px;
    float: left;
}

#review {
    width: 450px;
    height: 300px;
    float: left;
}


ul {
    list-style-type: none;
    float: left;
}

li {
    width: 65px;
    height: 40px;
    line-height: 40px;
    float: left;
}

a {
    font-size: 12px;
    text-decoration: none;
    display: inline-block;
}

a:link {color: blue}   
a:visited {color: blue}  
a:hover {color: yellow; text-decoration: underline;}   
a:active {color: #0000FF} 

h3 {
    font-weight: 400;
    margin-left: 8px;
    height: 40px;
    line-height: 40px;
    padding-right: 200px;
    background-image: url("images/04.gif");
    background-size: 450px 40px;
    background-repeat: no-repeat;
}

.text {
    margin-left: 30px;
    width: 450px;
    height: 26px;
    font-size: 14px;

    
}

.text span{
    font-weight: bolder;
}

#footer {
    width: 900px;
    height: 60px;
    background-color: #e2697a;
    text-align: center;
   
}
.ICP {
    width: 200px;
    padding-left: 20px;
    line-height: 15px;
    height: 20px;
    margin: auto;
    margin-top: 5px;
    
}